

<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<%# <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" /> %>
	<link rel="shortcut icon" type="image/png" href="song.png"/>
	<title> MyTunes </title>
	<style>
		
		
	</style>
</head>
<body>
	<div class="container contents">
	<h1>  MyTunes </h1>
	<hr>
	<h2> A web Player to Play and download the songs </h2>
	By: <a href="/">  Nitin Manocha	</a> 
	<hr>
	
	
		<div class="row">
			<div class="col-md-4 col-sm-12">
				<img class="img img-responsive" src="attention.jpg"/>
				<h2> Attention.mp3 </h2>
				
				<a href="/music?id=Attention.mp3" target="_blank"> <button class="btn btn-success"><i class="fa fa-play"></i> Play </button>	</a> 
				<a href="/download?id=Attention.mp3"  target="_blank"> <button class="btn btn-success"><i class="fa fa-download"></i>	 Download </button> </a><hr>
			</div>
			<div class="col-md-4 col-sm-12">
			<img class="img img-responsive" src="capitalletters.jpg"/>
				<h2> Capital Letters.mp3 </h2>
				<a href="/music?id=Capital_Letters.mp3" target="_blank"> <button class="btn btn-success"><i class="fa fa-play"></i> Play </button>	</a> 
				<a href="/download?id=Capital_Letters.mp3"  target="_blank"> <button class="btn btn-success"><i class="fa fa-download"></i> Download </button> </a><hr>
			</div>
			<div class="col-md-4 col-sm-12">
			<img class="img img-responsive" src="girlslikeyou.jpg"/>
				<h2> Girls Like You.mp3 </h2>
				<a href="music?id=Girls_Like_You.mp3" target="_blank"> <button class="btn btn-success"><i class="fa fa-play"></i> Play </button>	</a> 
				<a href="/download?id=Girls_Like_You.mp3"  target="_blank"> <button class="btn btn-success"><i class="fa fa-download"></i> Download </button> </a><hr>
			</div>
			</div>
				<div class="row">
			<div class="col-md-4 col-sm-12">
			<img class="img img-responsive" src="bottledup.jpg"/>
				<h2> Bottled Up.mp3 </h2>
				<a href="/music?id=Bottled_Up.mp3" target="_blank"> <button class="btn btn-success"><i class="fa fa-play"></i> Play </button>	</a> 
				<a href="/download?id=Bottled_Up.mp3"  target="_blank"> <button class="btn btn-success"><i class="fa fa-download"></i> Download </button> </a><hr>
			</div>
		<div class="col-md-4 col-sm-12">
			<img class="img img-responsive" src="godsplan.jpg"/>
				<h2> Gods Plan.mp3 </h2>
				<a href="/music?id=Gods_Plan.mp3" target="_blank"> <button class="btn btn-success"><i class="fa fa-play"></i> Play </button>	</a> 
				<a href="/download?id=Gods_Plan.mp3"  target="_blank"> <button class="btn btn-success"><i class="fa fa-download"></i> Download </button> </a><hr>
			</div>
		<div class="col-md-4 col-sm-12">
			<img class="img img-responsive" src="nolie.jpg"/>
				<h2> No_Lie.mp3 </h2>
				<a href="/music?id=No_Lie.mp3" target="_blank"> <button class="btn btn-success"><i class="fa fa-play"></i> Play </button>	</a> 
				<a href="/download?id=No_Lie.mp3"  target="_blank"> <button class="btn btn-success"><i class="fa fa-download"></i> Download </button> </a><hr>
			</div>
			</div>
				<div class="row">
		<div class="col-md-4 col-sm-12">
			<img class="img img-responsive" src="psycho.jpg"/>
				<h2> Psycho.mp3 </h2>
				<a href="/music?id=Rockabye.mp3" target="_blank"> <button class="btn btn-success"><i class="fa fa-play"></i> Play </button>	</a>
				<a href="/download?id=Psycho.mp3"  target="_blank"> <button class="btn btn-success"><i class="fa fa-download"></i> Download </button> </a><hr>
			</div>
		<div class="col-md-4 col-sm-12">
			<img class="img img-responsive" src="rockabye.jpg"/>
				<h2> Rockabye.mp3 </h2>
				<a href="/music?id=Rockabye.mp3" target="_blank"> <button class="btn btn-success"><i class="fa fa-play"></i> Play </button>	</a>
				<a href="/download?id=Rockabye.mp3"  target="_blank"> <button class="btn btn-success"><i class="fa fa-download"></i> Download </button> </a><hr>
			</div>
		<div class="col-md-4 col-sm-12">
			<img class="img img-responsive" src="letme.jpg"/>
				<h2> ZAYN-Let_Me.mp3 </h2>
				<a href="/music?id=ZAYN-Let_Me.mp3" target="_blank"> <button class="btn btn-success"><i class="fa fa-play"></i> Play </button>	</a> 
				<a href="/download?id=ZAYN-Let_Me.mp3"  target="_blank"> <button class="btn btn-success"><i class="fa fa-download"></i> Download </button> </a><hr>
			</div>
			</div>
		</div>
	</div>
	
</body>
</html>